@font-face {
	font-family: 'tungsten';
	src: local('tungsten'),
	url('../../resources/fonts/tungsten.woff2') format('woff2');
}
/* new images should be ~256 by 2000 */
.Ascent {
	height: 128px;
	width: 100%;
	background-size: cover;
	margin: 2px;
	background-image: url('../../resources/map-banners/ascent.jpg');
	cursor: pointer;
}
.Bind {
	height: 128px;
	margin: 2px;
  background-image: url('../../resources/map-banners/bind.jpg');
	width: 100%;
	background-size: cover;
	cursor: pointer;
}
.Breeze {
	height: 128px;
	width: 100%;
	background-size: cover;
	margin: 2px;
	background-image: url('../../resources/map-banners/breeze.jpg');
	cursor: pointer;
}
.Fracture {
	height: 128px;
	width: 100%;
	background-size: cover;
	margin: 2px;
	background-image: url('../../resources/map-banners/fracture.jpg');
	cursor: pointer;
}
.Haven {
	height: 128px;
	width: 100%;
	background-size: cover;
	margin: 2px;
	background-image: url('../../resources/map-banners/haven.jpg');
	cursor: pointer;
}
.Icebox {
	height: 128px;
	width: 100%;
	background-size: cover;
	margin: 2px;
	background-image: url('../../resources/map-banners/icebox.jpg');
	cursor: pointer;
}
.Lotus {
	height: 128px;
	width: 100%;
	background-size: cover;
	margin: 2px;
	background-image: url('../../resources/map-banners/lotus.jpg');
	cursor: pointer;
}
.Pearl {
	height: 128px;
	width: 100%;
	background-size: cover;
	margin: 2px;
	background-image: url('../../resources/map-banners/pearl.jpg');
	cursor: pointer;
}
.Split {
	height: 128px;
	width: 100%;
	background-size: cover;
	margin: 2px;
	background-image: url('../../resources/map-banners/split.jpg');
	cursor: pointer;
}
/* img {
	padding-left: 20px;
} */
.score {
	/* font-family: 'tungsten'; */
	/* font-size: 80px; */
	text-align: center;
	display: inline-block;
	color: white;
	padding-right: 20px;
	width: 70%
}
.matchModal {
	width: 80%;
	max-width: 80% !important;
}

.agentFull {
	float: left;
	padding-bottom: 250;
  margin-bottom: -250;
}
.matchInfo {
	float: left;
	padding-left: 20px;
	padding-bottom: 250;
  margin-bottom: -250;
}
.abilityCasts {
	float: left;
	/* display: inline-block; */
	padding-right: 40px;
	padding-left: 40px;
	/* padding-bottom: px; */
}
.ability {
	padding-bottom: 20px;
}
.abilityIcon {
	float: left;
	padding-bottom: 50;
  margin-bottom: -50;
	filter: brightness(0);
}
.castCounts {
	float: left;
	padding-bottom: 50;
  margin-bottom: -50;
	/* display: inline-block; */
	padding-left: 8px;
}

.bluePlayers {
	float:left;
	clear: both;
	padding-left: 40px;
	padding-top: 40px;
	/* margin-top: -10px; */
	/* position: relative; */
	/* padding-left: 20px;  */
	/* padding-top: 400px; */
	
}
.redPlayers {
	float: right;
	/* clear: both; */
	padding-right: 40px;
	padding-top: 40px;
}