.about-me-header {
  text-align: left;
  padding-top: 40px;
  padding-left: 20px;
}
.greeting {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}
.about-me-intro {
  text-align: left;
  padding-top: 40px;
  padding-left: 20px;
}
.about-me-experience {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}
.about-site {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}