.paintedladies {
  background-image: url("../resources/backgrounds/paintedladies.JPG");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sdcoast {
  background-image: url("../resources/backgrounds/sdcoastpano.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.costaricanresort {
  background-image: url("../resources/backgrounds/costarica.JPG");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.costaricansunset {
  background-image: url("../resources/backgrounds/costaricasunset.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.greeting {
  /* color: #B92B27; */
  text-align: left;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  /* background-color: #FFFFFF; */
}
.about-me-intro {
  /* color: #B92B27; */
  text-align: left;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  /* background: #212529; */
  /* background: #FFFFFF; */
}
.about-me-experience {
  text-align: left;
  padding: 40px;
}
.about-site {
  text-align: left;
  padding: 40px;
}