.contact-wrapper {
  
  text-align: center;
  background-image: url("../../public/gallery/oahubeach.jpg");
  background-size: cover;
  padding-top: 80px;
  height: 100vh;
}
.contact-header {
  margin-top: 100px
}

.socials {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
  margin-top: 160px;
}