.contact-wrapper {
  
  /* background-color: red; */
  background-image: url("../resources/oahu_beach.JPG");
  background-size: cover;
  padding-bottom: 300px;
  padding-top: 40px;
}
.contact-header {
  margin: auto;
  margin-top: 50px
}

.socials {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
  margin-top: 250px;
}